.instruction-sub-text {
  padding: 5px 20px;
  width: 90%;
}

.sp-input.range-changer {
  width: 90%;
  & ~ .focus-border {
    width: 90%;
    margin-bottom: 10px;
  }
}

.lat-lng-radius-btn {
  margin-bottom: 15px;
}

.sp-container.dashboard-container {
  width: 100%;
  padding-top: 10px;
}

.sp-header-error {
  background-color: rgba(210, 77, 87, 1);
  padding: 10px;
  color: white;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.sp-error-msg {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 300;
}
